.grad{
    background: linear-gradient(135deg, #5984aa, #366996);
}

select option[disabled]:first-child {
	display: none;
}

@media only screen and (max-width: 800px) {
    .reactivescreen {
        width: 90%;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1300px){
    .reactivescreen {
        width: 70%;
    }
}

@media only screen and (min-width: 1301px) and (max-width: 1500px){
    .reactivescreen {
        width: 60%;
    }
}

@media only screen and (min-width: 1501px){
    .reactivescreen {
        width: 50%;
    }
}